<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>l1g1 web site</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<form method="post" action="http://127.0.0.1:80/homeAction">
    <label>authentification</label>
    <br><br>
    <div class="container">
        <label for="ulogin">login :</label>
        <input type="text" name="ulogin" id="ulogin">
        <br><br>
        <label for="upassword">password :</label>
        <input type="text" name="upassword" id="upassword">
        <br><br>
        <input type="submit" value="Apply" class="btn btn-danger">

    </div>
</form>
</body>
</html>